
.App-header {
  background-color: purple;
  padding: 30px;
  color: white;
  font-size: 30px;
}
.mr3{margin-right: 30px; cursor: pointer}
.body-main{
  font-size: 50px; padding: 50px; color: purple;
}
.sub-text{font-size: 20px; color: #000}
.custom-login-btn{
  padding: 20px;
  width: 200px;
  margin: auto;
  text-align: center;
  cursor: pointer;
  color: purple; font-size: 30px;
  border: 2px solid purple
}
.custom-login-btn:hover{
  background: purple; color: #ffffff; border: 2px solid purple;
}
.properties-pane{position: relative; top: 230px; padding: 5px 20px 5px 20px; color: #000000 }
